<h1>Feeds</h1>

<ul>
  <% @feeds.all.each do |feed| %>
    <li>
      <h2><%= feed.name %> (<%= link_to "Edit", [:edit, feed] %>)</h2>
      <%= highlight_json(feed.schema) %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Create a new feed", [:new, :feed] %>
