# Links to community pages, displayed on the `about` page
ABOUT_URL_GITHUB=REPLACE_ME
ABOUT_URL_NOTION=REPLACE_ME
ABOUT_URL_SLACKIN=REPLACE_ME

# General application settings
APPLICATION_HOST=localhost:3000
ASSET_HOST=localhost:3000

CRISP_WEBSITE_ID=REPLACE_OR_REMOVE_ME

DB_HOST=db
DB_USER=postgres

DOCKER_CERT_PATH=REPLACE_OR_REMOVE_ME
DOCKER_HOST=REPLACE_ME
DOCKER_TLS_VERIFY=REPLACE_OR_REMOVE_ME

EXECJS_RUNTIME=Node

FEEDBACK_EMAIL=example@example.com

# See the README for instructions on setting up OAuth with GitHub.
GITHUB_CLIENT_ID=REPLACE_ME
GITHUB_CLIENT_SECRET=REPLACE_ME

PORT=3000
RACK_ENV=development
RACK_MINI_PROFILER=0

SECRET_KEY_BASE=development_secret

SMTP_ADDRESS=smtp.example.com
SMTP_DOMAIN=example.com
SMTP_PASSWORD=password
SMTP_USERNAME=username

WEB_CONCURRENCY=1
