web: bundle exec puma -b "ssl://0.0.0.0:$PORT?key=certificates/domain-key.pem&cert=certificates/domain-cert.pem" -C ./config/puma.rb
worker: bundle exec rake jobs:work
redirect: docker run -p 80:80 geldim/https-redirect
