.app-canvas {
  &-add-element,
  &-block-element,
  &-feed-element, {
    border: 1px solid #ddd;
    padding: $small-spacing;
  }

  &-entry-feed {
    padding: $small-spacing;
  }

  &-feed-element {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
  }

  &-connection {
    height: 4em;
    border-right: 2px dashed black;
    width: 50%;
  }

  &-block-element {
    display: flex;
    align-items: center;
  }
}

.app-runs {
  @include span-columns(3 of 12);
  margin-top: $base-spacing;
}
