.app-canvas {
  &-add-element,
  &-feed-element, {
    border: 1px solid #ddd;
    padding: $small-spacing;
  }

  &-connection {
    height: 4em;
    border-right: 2px dashed black;
    width: 50%;
  }
}

.app-runs {
  @include span-columns(3 of 12);
  margin-top: $base-spacing;
}
