$about-section-spacing: 3 * $base-spacing;

.about-hero {
  align-items: center;
  background-image: image_url("about/hero_background.png");
  background-size: cover;
  display: flex;
  font-size: 1.2rem;
  min-height: 60vh;
  justify-content: space-around;
  margin-bottom: $about-section-spacing;
  overflow: hidden;
  padding: $base-spacing;

  .hero-column-left {
    flex: 0 1 40%;
    font-weight: bold;
  }

  .hero-column-right {
    background-color: white;
    border-radius: 4px;
    border: 2px solid black;
    flex: 0 1 20em;
    padding: $small-spacing;

    .button {
      text-align: center;
      width: 100%;
    }
  }
}

.about-section {
  align-items: center;
  clear: both;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-around;
  margin-bottom: $about-section-spacing;
  overflow: hidden;

  p {
    flex: 0 1 30%;
  }

  img {
    $size: 60%;
    flex: 0 1 $size;
    max-width: $size;
  }
}

.about-scroll-hint {
  @include span-columns(1);
  @include shift(2);
}

.about-aside {
  @include span-columns(6 of 12);
  margin-bottom: $about-section-spacing;
}
