.explore-new-app,
.explore-new-block {
  display: block;
  text-align: right;
}

.explore-block,
.explore-app {
  display: inline-block;
  margin-right: 5%;
  outline: 2px solid black;
  padding: $base-spacing;
  width: 20%;
}
