<h1><%= user.username %>'s flows</h1>

<ul>
  <% @flows.all.each do |flow| %>
    <li>
      <%= link_to [flow.user, flow] do %>
        <%= flow.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Create a new flow", [:new, user, :flow] %>
