<% if current_user %>
  <div class="section">
    <%= link_to "+ Register a new block", new_block_path %>
  </div>
<% end %>

<%= render "blocks_list", blocks: Block.all, title: "Explore All Blocks" %>
