<div class="hero welcome-hero layout-row">
  <div class="layout-column-left">
    <p><%= t(".greeting") %></p>
    <%= image_tag "app_factory_title.png" %>
  </div>

  <div class="layout-column-right">
    <p><%= t(".description.one") %></p>
    <p><%= t(".description.two") %></p>
  </div>
</div>
