<h1><%= link_to user.username, user %> > Blocks</h1>

<ul>
  <% @blocks.all.each do |block| %>
    <li>
      <%= link_to block_path(block.user, block) do %>
        <%= block.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Create a new block", new_block_path %>
