# See https://github.com/lgromanowski/letsencrypt-plugin/wiki/Installation-guide
default: &default
  endpoint: 'https://acme-v01.api.letsencrypt.org/'
  email: 'wright.grayson@gmail.com'
  domain: assembleapp.co

  # in Rails.root, path to private key
  private_key: 'key/keyfile.pem'

  # Private key stored in the database
  # private_key_in_db: true

  # in Rails.root, path where certificates
  # will be stored (on Heroku this variable is ignored)
  output_cert_dir: 'certificates'

  # in Rails.root, path where challenge token
  # will be stored in case when DB will not be used
  challenge_dir_name: 'challenge'

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
