<h1><%= link_to @app.user.username, @app.user %> / <%= @app.name %></h1>

<div class="app-description">
  <%= simple_format(@app.description) %>
</div>

<%= link_to "Edit app", edit_app_path(@app.user, @app) %>
