<div class="section section-hint about-aside">
  <p>
  Hello!
  </p>

  <p>
  You're looking at an early take on how our platform
  can help nontechnical users leverage the power of custom technology.
  </p>

  <p>
  These features have not been built yet –
  this is simply a vision of what we'd like to achieve.
  We've published more detailed plans and roadmaps
  <%= link_to "in our documentation", ENV.fetch("ABOUT_URL_DOCS") %>.
  </p>

  <p>
  We want to build our tools to be as accessible and inclusive as possible.
  To do that, it's necessary to give everyone a voice in how the tools are built.
  We'd love to hear your thoughts and ideas.
  </p>

  <p>
  Get in touch with us
  <%= link_to "on Slack", ENV.fetch("ABOUT_URL_SLACKIN") %>,
  <%= link_to "on GitHub", ENV.fetch("ABOUT_URL_GITHUB") %>, and
  <%= link_to "on Notion", ENV.fetch("ABOUT_URL_NOTION_COMMUNITY") %>,
  or just click on the orange circle in the corner of your screen
  and start typing.
  </p>
</div>
