<div class="list">
  <h2><%= title %></h2>

  <div class="list-items">
    <%= render partial: "app", collection: apps, as: :app %>
  </div>

  <%= link_to "+ Create a new app", new_app_path, class: "list-new-item-link" %>
</div>
