<div class="section">
  <h3>Runs</h3>

  <% if block.runs.any? %>
    <%= render block.runs %>
  <% else %>
    <div class="section-description">
      <p>
      This block has not been run yet.
      </p>

      <p>
      <%= link_to "Test it out in your browser.", sandbox_app_path(block) %>
      </p>
    </div>
  <% end %>
</div>
