<div class="section">
  <h3>Block Runs</h3>

  <% if runs.any? %>
    <%= render runs.order(created_at: :desc) %>
  <% else %>
    <div class="section-description">
      <p>
      You have not run this block yet.
      </p>
    </div>
  <% end %>
</div>
