<h1>Triggers</h1>

<ul>
  <% @triggers.all.each do |trigger| %>
    <li>
      <h2><%= trigger.name %> (<%= link_to "Edit", [:edit, trigger] %>)</h2>
      <%= highlight_json(trigger.schema) %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Create a new trigger", [:new, :trigger] %>
