<h1>Triggers</h1>

<ul>
  <% @triggers.all.each do |trigger| %>
    <li>
      <h2><%= trigger.name %> (<%= link_to "Edit", edit_trigger_path(trigger) %>)</h2>
      <p>
      <%= trigger.schema %>
      </p>
    </li>
  <% end %>
</ul>

<%= link_to "+ Create a new trigger", new_trigger_path %>
