<div class="hero explore-hero layout-row">
  <h1><%= t(".title") %></h1>
</div>

<%= render "apps_list", apps: App.all, title: "Popular Apps" %>
<%= render "blocks_list", blocks: Block.all, title: "Popular Building Blocks" %>
