
<% if current_user %>
  <div>
    Your API token is <code><%= current_user.api_key %></code>.
    Please place this in your <code>~/.assemble.yml</code>.
  </div>
<% end %>

<%= render "blocks_list", blocks: Block.all, title: "Explore All Blocks" %>
