
<% if current_user %>
  <div style="margin-bottom: 1.5rem">
    Sign in with your assemble CLI with:

    <code style="padding: 0.75rem; margin-left: 1.5rem;">
      assemble auth <%= current_user.api_key %>
    </code>
  </div>
<% end %>

<%= render "blocks_list", blocks: Block.all, title: "Explore All Blocks" %>
